.world-cup-slide {
    display: flex;
    color: #fff;

    .inner {
        margin: auto;
        position: relative;
        display: flex;
    }

    .title-1 {
        font-size: 10rem;
        display: block;
        line-height: 0.45;

        @include sm-down {
            font-size: 4rem;
            margin-left: 3rem;
        }
    }

    .title-2 {
        font-size: 5rem;
        line-height: 0.5;
        margin-left: 5rem;
        
        @include sm-down {
            font-size: 2rem;
            margin-left: 5rem;
        }
    }

    .date {
        position: absolute;
        top: 94px;
        left: 150px;
        text-align: right;
        line-height: 0.8;
        color: rgba(255, 255, 255, 0.5);
        font-size: 4rem;        

        @include sm-down {
            font-size: 2rem;
            top: 40px;
            left: 30px;
        }
    }

    .description {
        font-size: 2rem;
        font-style: italic;
        line-height: 1;
        white-space: pre-wrap;

        @include sm-down {
            font-size: 1.6rem;
            padding: 0 30px;

            br {
                display: none;
            }
        }
    }

    .insta-photo {
        @include sm-down {
            width: 60vw !important;
            height: 40vw !important;
            margin-left: 30px !important; 
        }
    }
}