<article class="Slide world-cup-slide">
	<div class="Slide-inner">
		<div>
			<h1>
				<span class="title-2">Vamos</span>
				<span class="title-1">Argentina</span>
			</h1>
			<h2 class="date">JUL 2014</h2>
		</div>
		<div>
			<p class="description mt-5">
				<span class="pl-0 pl-sm-2">Estuvimos a cargo del traslado de la <strong>Selección Argentina de fútbol</strong>, </span><br>
				<span class="pl-4">cuerpo técnico, dirigentes y familiares durante el mundial de Brasil 2014. </span><br>
				<span class="pl-4">Además llevamos la pasión junto a los hinchas realizando <strong>más de 30 vuelos </strong></span><br>
				<span class="pl-4">a los distintos destinos donde jugó. </span><br>
				<span class="pl-4">Anteriormente, durante las <strong>eliminatorias</strong>, también llevamos a la Selección </span><br>
				<span class="pl-4">a diferentes encuentros. </span>

			</p>
			<a href="https://www.aviacionnews.com/2013/06/andes-lineas-aereas-transporto-a-la-seleccion-argentina-de-futbol/"
				target="_blank" class="ButtonLink float-right mr-7 mr-sm-0"
				@click="$ga.trackEvent($ga.actions.CLICKED, 'Link ' + slideNumber)">
				<v-icon>mdi-link</v-icon>+info
			</a>

			<insta-photo class="ml-0" fileName="world-cup-2014.jpg" rotation="4" width="400px" height="200px"
				note="Con la selección!">
			</insta-photo>
		</div>
	</div>
</article>