<article class="Slide revolution-slide" v-bind:class="{ isActive: isActive }"></div>>
    
    <div class="clouds-container" ref="cloudsContainer">
        
    </div>
    
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-2">chau</span>
                <span class="title-1">Piso</span>
                <span class="title-3">tarifario</span>
            </h1>
            <h2 class="date">AGO<br>2018</h2>
        </div>
        <div>
            <p class="description mt-5">
                <span class="pl-0 pl-sm-2">El entonces Ministro de transporte <strong>Guillermo Dietrich</strong> decide </span><br>
                <span class="pl-4">eliminar la regulación estatal que establecía reglas equitativas para todas </span><br>
                <span class="pl-4">las empresas, abriendo camino al
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <span v-bind="attrs" v-on="on"><strong>dumping</strong></span>
                        </template>
                        <span class="dumping-def" style="display: inline-block; max-width: 300px;">El dumping consiste en
                            vender un producto a un precio inferior al costo
                            incurrido para producirlo, con el objetivo de
                            competir más eficazmente en el mercado.<br>
                            De esta forma se consigue que las demás empresas
                            salgan del mercado al no poder competir con esos
                            precios; una vez que la empresa no tiene competencia
                            en el mercado, sube los precios del producto creando
                            ya un monopolio.
                        </span>
                    </v-tooltip>
                </span>.
            </p>
            <a href="https://www.cronista.com/negocios/Quitan-los-pisos-para-los-pasajes-aereos-20180702-0091.html"
                target="_blank" class="ButtonLink float-right mr-7 mr-sm-0">
                <v-icon>mdi-link</v-icon>+info
            </a>

            <insta-photo class="ml-0" fileName="dietrich.jpeg" rotation="5" width="300px" height="250px"
                note="Uno del dream team">
            </insta-photo>
        </div>
    </div>
</article>
