<article class="Slide start-slide">
	<div class="inner">
		<div>
			<h2 class="date">06<br>2006</h2>
			<h1>
				<span class="title-1">Inicio</span>
				<span class="title-2">de operaciones</span>
			</h1> 
		</div>
		<div>
			<p class="description mt-2">
				<span>Andes fue autorizada a realizar servicios</span><br> 
				<span class="pl-4">no regulares domesticos e internacionales</span>
			</p>
			<button class="ButtonLink float-right"><v-icon>mdi-link</v-icon>+info</button>
		</div>
	</div>
	
</article>