.start-slide {
    display: flex;
    color: #fff;

    h1 {
        @include sm-down {
            padding-left: 30px;
        }
    }

    .title-1 {
        font-size: 10rem;
        display: block;
        line-height: 0.5;
        margin-left: 2.5rem;
        
        @include sm-down {
            font-size: 4rem;
        }
    }

    .title-2 {
        font-size: 5rem;
        line-height: 1;

        @include sm-down {
            font-size: 2.5rem;
        }
    }

    .date {
        position: absolute;
        top: -12px;
        left: -65px;
        text-align: right;
        line-height: 0.8;
        color: rgba(255, 255, 255, 0.5);
        font-size: 4rem;
        
        @include sm-down {
            font-size: 2rem;
            left: 7px;
        }
    }

    .description {
        font-size: 2rem;
        font-style: italic;
        line-height: 1;

        @include sm-down {
            font-size: 1.6rem;
            padding: 0 30px;

            br {
                display: none;
            }
        }
    }
}