<article class="Slide start-slide">
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-1">Inicio</span>
                <span class="title-2">de operaciones</span>
            </h1> 
            <h2 class="date">JUN<br>2006</h2>
        </div>
        <div>
            <p class="description mt-2">
                <span>Andes fue autorizada a realizar servicios </span><br> 
                <span class="pl-md-4 pl-sm-0">no regulares domesticos e internacionales</span>
            </p>
            <a href="https://www.gacetaeronautica.com/gaceta/wp-101/?p=30927" target="_blank" class="ButtonLink float-right mr-7 mr-sm-0"><v-icon>mdi-link</v-icon>info</a>
        </div>
    </div>
</article>