<article class="Slide start-slide">
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-1">Inicio</span>
                <span class="title-2">de operaciones</span>
            </h1> 
            <h2 class="date">JUN<br>2006</h2>
        </div>
        <div>
            <p class="description mt-2">
                <span>Andes Realiza su vuelvo inaugural <strong>Salta - Buenos Aires </strong></span><br> 
                <span class="pl-md-4 pl-sm-0">(con una frecuencia de <strong>seis vuelos semanales</strong>)</span>
            </p>
            <a href="https://www.noticiasdeturismo.com.ar/noa/despego-hoy-de-salta-el-vuelo-inaugural-de-andes-lineas-aereas.html/393" 
                target="_blank" 
                class="ButtonLink float-right mr-7 mr-sm-0"
                @click="$ga.trackEvent($ga.actions.CLICKED, 'Link ' + slideNumber)">
                    <v-icon>mdi-link</v-icon>info
            </a>
        </div>
    </div>
</article>