<section class="sky" :style="{width: widthCss}" ref="sky">
    <!-- <div v-for="index in clouds" :key="index" class="cloud-container"
        :style="{top: `calc(${getRandom(15)}vh + ${cloudOffset}px)`, left: getRandom(100)+'vw'}">
        <cloud :seed="getRandom(4)"></cloud>
    </div> -->

    <div v-for="index in clouds" :key="index" class="cloud-container"
        :style="{top: `${getRandomFromRange(-10, 15)}vh`, left: `${getRandom(width / slidesLength * index)}vw`}">
        <cloud-png :imgNumber="getRandom(5)"></cloud-png>
    </div>

</section>