.sky {
    position: absolute;
    z-index: 1;
    background: url('../../assets/clouds-bg2.png') repeat-x;
    height: 100vh;
    background-size: auto 40vh;
    pointer-events: none;

    @include sm-down {
        height: calc(var(--vh, 1vh) * 100);
    }

    .cloud-container {
        position: absolute;
        top: 20vh;
        left: 20vw;
    }
}