<section class="gsap-tests">

  <div class="plane-wrapper" @click="turnPlane">
    <div class="plane-aspect-ratio">
      <span ref="plane" class="plane-asset"></span>
    </div>
  </div>
  <div class="timeline">
    <ul ref="timeline">
      <li>
        <h3>Primavera del 78:</h3>
        <p>Nace Andes</p>
      </li>
      <li>
        <h3>Septiembre del 2005:</h3>
        <p>Cumple años Martin</p>
      </li>
      <li>
        <h3>Septiembre del 2015:</h3>
        <p>Muere cerati</p>
      </li>
      <li>
        <h3>Julio del 2019:</h3>
        <p>Andes no paga mas los sueldos</p>
      </li>
      <li>
        <h3>Julio del 2019:</h3>
        <p>Andes no paga mas los sueldos</p>
      </li>
    </ul>
  </div>
</section>