.gsap-tests {
    position:absolute;
    bottom:20px;
    left:0;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". plane ."
                         "timeline timeline timeline";
    .plane-wrapper {
        grid-area:plane;
        .plane-aspect-ratio {
            position:relative;
            height:0;
            overflow:hidden;
            padding-bottom:18%;

            span {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                object-fit: cover;
                background-image:url('../../assets/plane.png');
                background-size: 100% auto;
                background-position-y:100%;
                transition: background-position-y 0ms ease 300ms
            }
            .turn-right {
                background-position-y: 0%;
            }

        }

    }

    .timeline {
        grid-area:timeline;
        
        ul {
            padding-left:0;
            display:grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(5, 100vw);
            height:100%;
            font-size:1.8rem;
            transform:translateX(50%);

            li {
                padding-left:2rem;
                position:relative;
                &::before {
                    content: "";
                    position:absolute;
                    width:0.3rem;
                    top:0;
                    left:0;
                    bottom:0;
                    background:#000;
                }
            }
        }
    }
}
