<article class="Slide return-slide" v-bind:class="{ isActive: isActive }">

    <div class="clouds-container" ref="cloudsContainer">

    </div>

    <div class="Slide-inner">
        <div>
            <h1>
                <!-- <span class="title-2">chau</span> -->
                <span class="title-1">La <em>devolución</em></span>
                <span class="title-2">de los aviones</span>
            </h1>
            <h2 class="date">OCT<br>2018</h2>
        </div>
        <div>
            <p class="description mt-0">
                <span class="pl-0 pl-sm-2">A las malas políticas aplicadas se suman los fracasos económicos del gobierno.</span><br>
                <span class="pl-0 pl-sm-2">Las fuertes <strong>devaluaciones</strong> de Mayo y Agosto hicieron que los costos </span><br>
                <span class="pl-0 pl-sm-2">operativos (los cuales son en dolares) sean imposibles de afrontar. El dolar subio de $17 a $40. </span><br>
                <span class="pl-0 pl-sm-6">Esto resultó en la <strong>devolución de los cuatro Boeing, demora en el pago </strong> </span><br>
                <span class="pl-0 pl-sm-6"><strong>de salarios, reducción del 40% de su personal y la eliminación de rutas.</strong></span><br>
            </p>
            <a href="https://www.ambito.com/edicion-impresa/estilo-a/la-revolucion-los-aviones-transita-zona-turbulencias-n5003864"
                target="_blank" class="ButtonLink float-right mr-7 mr-sm-0"
                @click="$ga.trackEvent($ga.actions.CLICKED, 'Link ' + slideNumber)">
                <v-icon>mdi-link</v-icon>+info
            </a>

            <insta-photo class="ml-0" fileName="marcha.jpeg" rotation="5" width="300px" height="250px"
                note="En la lucha!">
            </insta-photo>
        </div>
    </div>
</article>