.cloud-png {
     
    // gsap animation looks smoother
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    
    
    @keyframes floating {
        from { transform: translate(0,  0px); }
        50%  { transform: translate(0, 10px); }
        to   { transform: translate(0, 0px); }    
    }    

    img {
        width: auto;
        max-height: 30vh;
    }
}
