html {
    font-size: 62.5%;
    box-sizing: border-box;
}
html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
*,
*:before,
*:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // text-transform: uppercase;
    margin: 0;
    strong {
        font-weight: 800;
    }
}
p {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

// temp
canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
