<article class="Slide instructions-slide">
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-1">258 familias</span>
                <span class="title-2">necesitamos tu ayuda</span>
            </h1>

            <h2 class="mt-4 text-center">
                {{debtMonths}} meses sin sueldo · 2 años sin paritarias
            </h2>

            <div class="buttons-container mt-10">
                <router-link to="/about" class="v-btn v-btn--contained theme--light v-size--default primary">
                        Enterate de la situación actual
                </router-link>

                <a target="_blank" 
                    title="Clickeá para compartir en Twitter"
                    :href="`https://twitter.com/intent/tweet?hashtags=todossomosandes&text=${encodeURI('Yo apoyo el trabajo argentino \nwww.todossomosandes.com.ar \n@empleados_andes \n')}`"
                    @click="$ga.trackEvent($ga.actions.CLICKED, 'Call to action Twitter')"
                    class="v-btn v-btn--contained theme--light v-size--default primary"
                    >Apoyanos en Twitter</a>

                <v-btn  color="primary" @click="start">
                    Conocé nuestra historia 
                    <v-icon>
                        mdi-play
                    </v-icon>
                </v-btn>
            </div>
        </div>
    </div>
</article>