<article class="Slide airbus-slide">
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-1">Airbus 320</span>
            </h1>
            <h2 class="date">DIC 2009</h2>
        </div>
        <div>
            <p class="description mt-3">
                <span class="pl-0 pl-sm-2">Para la temporada de verano 2012, Andes alquiló <strong>dos Airbus 320-200 </strong></span><br>
                <span class="pl-2">con los cuales realizó vuelos charters a Centro América y El Caribe.</span><br>
            </p>
            <a href="https://aeromarket.com.ar/noticias/andes-con-a320/"
                target="_blank" class="ButtonLink float-right mr-7 mr-sm-0">
                <v-icon>mdi-link</v-icon>+info
            </a>
        </div>
    </div>
</article>


