.cloud {
     
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    
    
    @keyframes floating {
        from { transform: translate(0,  0px); }
        65%  { transform: translate(0, 5px); }
        to   { transform: translate(0, -0px); }    
    }    

    .cloud-section {
        width: 500px;
        height: 275px;
        border-radius: 50%;
        position: absolute;
        top: -35vh;
        left: -25vw;
    }
      
    #cloud-back {
        filter: url(#filter-back);
        box-shadow: 300px 300px 30px -20px #fff;
    }
      
    #cloud-mid {
        filter: url(#filter-mid);
        box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
          left: -25vw;
    }
      
    #cloud-front {
        filter: url(#filter-front);
        box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
          left: -25vw;
    }
}
