<article class="Slide third-plane-slide">
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-2">se suma</span>
                <span class="title-1">Un nuevo</span>
                <span class="title-3">avión MD-83</span>
            </h1>
            <h2 class="date">DIC<br>2007</h2>
        </div>
        <div>
            <p class="description mt-2">
                <span>Se incorpora una nueva nave </span><br>
                <span class="ml-0 ml-sm-3">y ya son <strong>3 los aviones que conectan al país</strong></span><br>
            </p>
            <insta-photo 
                fileName="third-plane.jpg"
                rotation="-5"
                width="400px"
                height="200px"
                note="El nuevo MD volando a Brasil">
            </insta-photo>

            <!-- <a href="https://www.gacetaeronautica.com/gaceta/wp-101/?p=30927" target="_blank"
              class="ButtonLink float-right">
              <v-icon>mdi-link</v-icon>+info
          </a> -->
        </div>
    </div>
</article>