.bombardier-slide {
    display: flex;
    color: #fff;

    .inner {
        margin: auto;
        position: relative;
        display: flex;
    }

    .title-1 {
        font-size: 10rem;
        display: block;
        line-height: 0.5;

        @include sm-down {
            font-size: 4rem;
            margin-left: 3rem;
        }
    }

    .title-2 {
        font-size: 5rem;
        line-height: 0.5;
        margin-left: 6.5rem;
        
        @include sm-down {
            font-size: 2.5rem;
            margin-left: 10.5rem;
        }
    }
    
    .title-3 {
        font-size: 7.4rem;

        @include sm-down {
            font-size: 3rem;
        }
    }

    .date {
        position: absolute;
        top: -46px;
        left: -30px;
        text-align: right;
        line-height: 0.8;
        color: rgba(255, 255, 255, 0.5);
        font-size: 4rem;

        @include sm-down {
            font-size: 2rem;
            top: -17px;
            left: 57px;
        }
    }

    .description {
        font-size: 2rem;
        font-style: italic;
        line-height: 1;

        @include sm-down {
            font-size: 1.6rem;
            padding: 0 30px;

            br {
                display: none;
            }
        }
    }
}