.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // max-height: 10vh;
    z-index: 2;
    // transition: max-height 0.5s;

    // background: red;
    pointer-events: none;

    h1,
    h1 a {
        color: #fff;
        font-size: 3rem;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
        text-decoration: none;
    }

    .v-app-bar {
        pointer-events: auto;
        box-shadow: none !important;
    }

    .v-navigation-drawer__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dev-contact {
        text-decoration: none;
        color: #747474
    }
}