<article class="Slide malvinas-slide">
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-2">histórico vuelo a</span>
                <span class="title-1">Malvinas</span>
            </h1>
            <h2 class="date">ABR<br>2018</h2>
        </div>
        <div>
            <p class="description mt-5">
                <span class="pl-0 pl-sm-2">En el marco de una iniciativa solidaria, Andes aportó </span><br>
                <span class="pl-2"><strong>dos vuelos humanitarios</strong> para familiares de soldados </span><br>
                <span class="pl-4">caídos durante la guerra de Malvinas. </span><br>
                <span class="pl-4">En Marzo 2019 se volverían a hacer dos vuelos más. </span><br>
            </p>
            <a href="https://www.sirchandler.com.ar/2018/03/los-vuelos-que-hizo-andes-a-malvinas/"
                target="_blank" class="ButtonLink float-right mr-7 mr-sm-0"
                @click="$ga.trackEvent($ga.actions.CLICKED, 'Link ' + slideNumber)">
                <v-icon>mdi-link</v-icon>+info
            </a>

            <insta-photo class="ml-0" fileName="malvinas.jpeg" rotation="5" width="300px" height="250px"
                note="Llegando a las islas 🇦🇷">
            </insta-photo>
        </div>
    </div>
</article>