<section class="timeline">
    <h1>timeline Component</h1>
    <ol>
        <li v-for="(item, i) in timeline" :key="i">
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    
                    <v-btn
                        color="primary"
                        dark
                        v-bind="attrs"
                        v-on="on"
                    >
                        <v-icon>mdi-checkbox-blank-circle</v-icon>
                    </v-btn>
                </template>
                <span>{{item.title}}</span>
            </v-tooltip>
        </li>
    </ol>
</section>