<section class="timeline">
    <div class="plane-wrapper">
        <div class="plane-aspect-ratio">
            <span ref="plane" class="plane-asset"></span>
        </div>
    </div>
    <div class="timeline-wrapper">
        <ul ref="timeline">
            <li v-for="(slide, i) in slides" :key="i">
                <div class="d-inline-block" @click="goTo(i)">
                    <h1>{{ slide.title }}</h1>
                    <p>{{ slide.date }}</p>
                </div>
                <div class="timeline-misc-container" v-if="slide.miscs">
                    <div class="timeline-misc" v-for="misc in slide.miscs">
                        <v-tooltip top>
                            <template v-slot:activator="{ on, attrs }">
                                <span v-bind="attrs" v-on="on">
                                    <div class="timeline-misc-icon">
                                        <v-icon>{{ misc.icon }}</v-icon>
                                    </div>
                                </span>
                            </template>
                            <span class="timeline-misc-content" 
                                style="display: inline-block; max-width: 300px;"
                                v-html="misc.content">
                            </span>
                        </v-tooltip>
                    </div>
                </div>
                
            </li>
        </ul>
    </div>
</section>

