<section class="timeline">
    <div class="plane-wrapper">
        <div class="plane-aspect-ratio">
            <span ref="plane" class="plane-asset"></span>
        </div>
    </div>
    <div class="timeline-wrapper">
        <ul ref="timeline">
            <li v-for="(slide, i) in slides" :key="i">
                <div class="d-inline-block" @click="goTo(i)">
                    <h1>{{ slide.title }}</h1>
                    <p>{{ slide.date }}</p>
                </div>
            </li>
        </ul>
    </div>
    
    <!-- <div v-if="$vuetify.breakpoint.smAndDown">
        <button class="timeline-nav-left" @click="goTo(state.activeSlide - 1)"><v-icon>mdi-chevron-left</v-icon></button>
        <button class="timeline-nav-right" @click="goTo(state.activeSlide + 1)"><v-icon>mdi-chevron-right</v-icon></button>
    </div> -->
    
</section>

