<section class="about">
    <div class="about-inner">
        <v-container>
            <v-row>
                <v-col cols="12">
                    <h1>Empleados Andes</h1>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At tellus at urna condimentum mattis pellentesque id nibh tortor. Proin fermentum leo vel orci porta non pulvinar. Orci dapibus ultrices in iaculis. Aliquet bibendum enim facilisis gravida neque convallis. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Diam quis enim lobortis scelerisque fermentum. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. Non arcu risus quis varius quam quisque id. Aliquam sem fringilla ut morbi tincidunt. Eu scelerisque felis imperdiet proin fermentum. Tristique senectus et netus et malesuada fames ac. Neque sodales ut etiam sit amet. Massa tincidunt dui ut ornare lectus sit amet est. Ultrices sagittis orci a scelerisque purus. Dictum fusce ut placerat orci nulla pellentesque dignissim enim sit.</p>

                    <p>Duis ultricies lacus sed turpis tincidunt. Faucibus nisl tincidunt eget nullam non nisi est sit amet. Suscipit tellus mauris a diam maecenas sed enim. Arcu felis bibendum ut tristique et egestas quis ipsum. Dolor sed viverra ipsum nunc aliquet. Id cursus metus aliquam eleifend mi in nulla. At in tellus integer feugiat scelerisque varius morbi enim. Est lorem ipsum dolor sit amet. Massa ultricies mi quis hendrerit. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Tempus egestas sed sed risus. Neque ornare aenean euismod elementum. Id donec ultrices tincidunt arcu non sodales neque. In mollis nunc sed id semper risus. Iaculis nunc sed augue lacus. Integer vitae justo eget magna fermentum iaculis eu non diam.</p>
                </v-col>
                <!-- <v-col cols="6">
                    <v-container>
                        <v-row>
                            <v-col class="pa-0 img-container" cols="2" v-for="pic, index in 20" :key="index" >
                                <v-img class="img-grid" width="100%" height="100%" :src="require(`../../assets/fotos/f-${index+1}.jpeg`)"></v-img>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col> -->
            </v-row>
        </v-container>
    </div>
</section>