<article class="Slide second-plane-slide">
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-2">la flota</span>
                <span class="title-1">Crece</span>
            </h1> 
            <h2 class="date">DIC<br>2006</h2>
        </div>
        <div>
            <p class="description mt-2">  
                <span>A mediados de diciembre llegó el <strong>segundo avión</strong> MD-82 (LV-BHF). </span><br> 
                <span class="pl-2">Para ese entonces tenía <strong>70 empleados</strong> y programaba, </span><br>
                <span class="pl-4">además de los vuelos “regulares”, charters a <strong>Florianópolis, </strong></span><br>
                <span class="pl-4"><strong>Maceio, Porto Seguro y Salvador de Bahía</strong>, saliendo </span><br>
                <span class="pl-1">de <strong>Buenos Aires, Córdoba y Salta</strong>.</span>
            </p>
            <a href="https://www.gacetaeronautica.com/gaceta/wp-101/?p=30927" 
                target="_blank" class="ButtonLink float-right mr-7 mr-sm-0"
                @click="$ga.trackEvent($ga.actions.CLICKED, 'Link ' + slideNumber)"><v-icon>mdi-link</v-icon>+info</a>
        </div>
    </div>
</article>