<article class="Slide second-plane-slide">
    <div class="inner">
        <div>
            <h1>
                <span class="title-2">la flota</span>
                <span class="title-1">Crece</span>
            </h1> 
            <h2 class="date">DIC<br>2006</h2>
        </div>
        <div>
            <p class="description mt-2">  
                <span>A mediados de diciembre llegó el segundo MD-82 (LV-BHF).</span><br> 
                <span class="pl-2">Para ese entonces tenía 70 empleados y programaba,</span><br>
                <span class="pl-4">además de los vuelos “regulares”, charters a Florianópolis,</span><br>
                <span class="pl-4">Maceio, Porto Seguro y Salvador de Bahía, saliendo</span><br>
                <span class="pl-1">de Buenos Aires, Córdoba y Salta.</span>
            </p>
            <a href="https://www.gacetaeronautica.com/gaceta/wp-101/?p=30927" target="_blank" class="ButtonLink float-right"><v-icon>mdi-link</v-icon>+info</a>
        </div>
    </div>
</article>