<article class="Slide boeing-slide">
    <div class="Slide-inner">
        <div>
            <h1>
                <span class="title-2">Plan de</span>
                <span class="title-1">Expansión</span>
            </h1>
            <h2 class="date">ENE<br>2017</h2>
        </div>
        <div>
            <p class="description mt-5">
                <span class="pl-0 pl-sm-2">Se da inicio a un plan de expansión, que proyecta unir al país </span><br>
                <span class="pl-4">con <strong>16 rutas aéreas</strong> y la incorporación a su flota de <strong>cuatro nuevos aviones</strong>, </span><br>
                <span class="pl-6">a través de una inversión de más de <strong>36 millones de dólares</strong>.</span>
            </p>
            <a href="https://www.telam.com.ar/notas/201612/173315-aerolinea-andes-vuelo-directo-buenos-aires-cordoba.html"
                target="_blank" class="ButtonLink float-right mr-7 mr-sm-0"
                @click="$ga.trackEvent($ga.actions.CLICKED, 'Link ' + slideNumber)">
                <v-icon>mdi-link</v-icon>+info
            </a>

            <insta-photo 
                class="ml-3"
                fileName="boeing-737.jpg"
                rotation="3"
                width="400px"
                height="200px"
                note="La ilusión de los 737">
            </insta-photo>
        </div>
    </div>
</article>


