.media {
    // background-image: url('../../assets/bg1.png');
    background-color: #62a0d8;
    background-repeat: repeat-x;
    background-size: contain;
    padding-top: 64px;
    height: 100vh;

    @include sm-down {
        height: calc(var(--vh, 1vh) * 100);
    }

    .media-inner {
        height: calc(100vh - 64px);
        background: #fff;
        overflow-y: scroll;
    }

    .v-card__title {
        font-size: 1.8rem;
        word-break: normal;
    }
    
    .media-date {
        font-size: 1.2rem;
    }

    .v-btn {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
    }
}