.pandemic-slide {
    display: flex;
    color: #fff;
    position: relative;

    .inner {
        margin: auto;
        position: relative;
        display: flex;
    }

    .title-1 {
        font-size: 7.5rem;
        display: block;
        line-height: 1.5;
        color: $dark-gray;

        @include md {
            font-size: 5.75rem;
        }
        
        @include sm-down {
            margin-top: -3rem;
            font-size: 4rem;
            margin-left: 3rem;
            line-height: 1;
        }
    }

    .date {
        position: absolute;
        top: 8px;
        left: 50px;
        text-align: right;
        line-height: 0.8;
        color: rgba(255, 255, 255, 0.5);
        font-size: 4rem;        

        @include md {
            font-size: 3rem;
            left: 38px;
            top: 5px;
        }

        @include sm-down {
            font-size: 2rem;
            top: -38px;
            left: 57px;
        }
    }

    .description {
        font-size: 2rem;
        font-style: italic;
        line-height: 1;
        white-space: pre-wrap;

        @include sm-down {
            font-size: 1.6rem;
            padding: 0 30px;

            br {
                display: none;
            }
        }
    }

    .insta-photo {
        @include sm-down {
            width: 60vw !important;
            height: 40vw !important;
            margin-left: 30px !important; 
        }
    }
    
    .clouds-container {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;
        
        width: 100vw;
        height: 100vh;
        background: url('../../../assets/clouds.png') repeat-x;
        background-size: auto 40vh;
        transition: opacity 1s ease-in-out;

        @include sm-down {
            height: calc(var(--vh, 1vh) * 100);
        }
    }

    &.isActive {
        .clouds-container {
            opacity: 1;
        }

        &::before {
            opacity: 0.25;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url('../../../assets/rain.png');
        //background-size: cover;
        animation: rain 0.2s linear infinite;
        opacity: 0.0;
        transition: opacity 2s ease-in-out;

        @include sm-down {
            height: calc(var(--vh, 1vh) * 100);
        }
    }

}
@keyframes rain {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 20vw 100vh;
    }
}
