<section class="home">
    <div v-if="isFirstLoad" class="instructions" ref="intro">
        <div class="text-center">
            <p>Esta es una guía interactiva para conocer la historia y entender la problemática de los empleados de Andes Líneas Aéreas.</p>
        </div>
        <div class="text-center" v-if="util.isMobile()">
            Deslizá para moverte en la línea de tiempo<v-icon>mdi-gesture-swipe</v-icon>
            
        </div>
        <div class="text-center">
            <v-btn depressed small color="primary" @click="closeIntro()" class="mt-3">Ok</v-btn>
        </div>
    </div>
    <sky :duration="animationDuration" :slidesLength="slidesLength"></sky>
    <slider :slides="slides" :duration="animationDuration" v-on:shake-plane="onShakePlane"></slider>
    <timeline :slides="slides" :duration="animationDuration" :shakePlane="shakePlane"></timeline>
</section>