.slider {
    width: fit-content;
    height: 100vh;
    display: grid;
    grid-auto-flow:column;
    transition: background-color 4s ease-in-out;
    background-image: url('../../assets/bg1.png');
    background-repeat: repeat-x;
    background-size: contain;

    @include sm-down {
        height: calc(var(--vh, 1vh) * 100);
    }

    .custom-background {
        height: 100vh;
        opacity: 0;
        transition: opacity var(--animation-duration) ease-in-out;
        background-repeat: repeat-x;
        position: absolute;
        background-size: contain;

        @include sm-down {
            height: calc(var(--vh, 1vh) * 100);
        }

        &.isVisible{
            opacity: 1;   
        }

        &.cloudy{
            background-image: url('../../assets/grey-gradient.png');
        }
    }
}